<h1>All Restaurants</h1>

<ol>
  <% @restaurants.each do |restaurant| %>
    <li><%= restaurant.name %>
      <%= link_to "See Details", restaurant_path(restaurant), class: "btn btn-primary"%>
    </li>
  <% end %>
</ol>

<%= link_to 'Add', new_restaurant_path %>
